<div class="teamRoster-player">
    <img src="{{url}}" alt="OFFENSE" height="42" width="42">
      <div class="PlayerHandle-playerwrapper">
    <b class="PlayerHandle-handle">{{player}}
    </b>
  </div>
</div>
