<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OSU Esports Club</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/peopleCardTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
  </head>
  <body>

    <header>
      <nav class="navbar">
        <a href="https://oregonstate.edu/">
        <div class="navitem logo">
          <img src="https://is.oregonstate.edu/sites/all/themes/doug_fir/logo.svg" alt="Oregon State University">
        </div>
      </a>
        <ul class="navlist">
          <a href="/"><li class="navitem navlink">Home</li></a>
          <a href="/about"><li class="navitem navlink">About</li></a>
          <a href="/join"><li class="navitem navlink">Join</li></a>
          <a href="/teams"><li class="navitem navlink">Teams</li></a>
          <a href="/people"><li class="navitem navlink">People</li></a>



        </ul>
      </nav>
    </nav>

    </header>

    {{{body}}}
  </body>
</html>
