<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OSU Esports Club</title>
    <link rel="stylesheet" href="/style.css" media="screen">


    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/peopleCardTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
  </head>
  <body>

    <header>
      <nav class="navbar">
        <a href="https://oregonstate.edu/">
        <div class="navitem logo">
          <img src="https://oregonstate.edu/themes/osu/drupal8-osuhomepage/logo.svg" alt="Oregon State University">
        </div>
      </a>
      </a>
        <ul class="navlist">
          <a href="/"><li class="navitem navlink">Home</li></a>
          <a href="/about"><li class="navitem navlink">About</li></a>
          <a href="/join"><li class="navitem navlink">Join</li></a>
          <a href="/teams"><li class="navitem navlink">Teams</li></a>
          <a href="/people"><li class="navitem navlink">People</li></a>
        </ul>
      </nav>

    </header>

    {{{body}}}
    <footer>
      <a href="https://discord.gg/cav8WXs">
      <div class="discord-link">
        <img src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" alt="Esports Discord" title="Esports Discord" width="40">
      </div>
    </a>
        <a href="https://www.facebook.com/groups/OSUEsports/">
        <div class="discord-link">
          <img src="http://www.sclance.com/backgrounds/white-facebook-logo-transparent-background/white-facebook-logo-transparent-background_2394331.png" width="40" alt="Esports Facebook Page" title="Esports Facebook Page">
        </div>
      </a>
      <a href="https://twitter.com/BeaverEsports">
      <div class="discord-link">
        <img src="https://www.catalyte.io/wp-content/uploads/twitter-logo-white-png.png" width="40" alt="Esports Twitter Page" title="Esports Twitter Page">
      </div>
    </a>
    </footer>
  </body>
</html>
