<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OSU Esports Club</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/peopleCardTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>
  </head>
  <body>

    <header>
      <nav class="navbar">
        <a href="https://oregonstate.edu/">
        <div class="navitem logo">
<<<<<<< HEAD
          <img src="logo.png" alt="Oregon State University">
        </div>
      </a>
        <ul class="navlist">
          <li class="navitem navlink"><a href="#">Home</a></li>
          <li class="navitem navlink"><a href="#">About</a></li>
          <li class="navitem navlink"><a href="#">Join</a></li>
          <li class="navitem navlink"><a href="#">Teams</a></li>
          <li class="navitem navlink"><a href="#">People</a></li>
=======
          <img src="https://is.oregonstate.edu/sites/all/themes/doug_fir/logo.svg" alt="Oregon State University">
        </div>
      </a>
        <ul class="navlist">
          <a href="/"><li class="navitem navlink">Home</li></a>
          <a href="/about"><li class="navitem navlink">About</li></a>
          <a href="/join"><li class="navitem navlink">Join</li></a>
          <a href="/teams"><li class="navitem navlink">Teams</li></a>
          <a href="/people"><li class="navitem navlink">People</li></a>

>>>>>>> 09bf68478074e7fed49d4caace46d3d0b599795d


        </ul>
      </nav>
    </nav>

    </header>

    {{{body}}}
<<<<<<< HEAD
=======
    <footer>
      <a href="https://discord.gg/cav8WXs">
      <div class="discord-link">
        <img src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" alt="Esports Discord" title="Esports Discord" width="40">
      </div>
    </a>
        <a href="https://www.facebook.com/groups/OSUEsports/">
        <div class="discord-link">
          <img src="http://www.sclance.com/backgrounds/white-facebook-logo-transparent-background/white-facebook-logo-transparent-background_2394331.png" width="40" alt="Esports Facebook Page" title="Esports Facebook Page">
        </div>
      </a>
      <a href="https://twitter.com/BeaverEsports">
      <div class="discord-link">
        <img src="https://www.catalyte.io/wp-content/uploads/twitter-logo-white-png.png" width="40" alt="Esports Twitter Page" title="Esports Twitter Page">
      </div>
    </a>
    </footer>
>>>>>>> 09bf68478074e7fed49d4caace46d3d0b599795d
  </body>
</html>
