<div class = "about-container">

<h1> About </h1>

<div class="about-text">


 <p> Welcome to the Esports at OSU discord server!

    As of right now, the Overwatch community is heavily represented in this server compared to other Esports.
    By our official registration with OSU in Winter 2019, we hope to see a growing representation of other
    Esports titles. If you are interested in competing in any competitive Esports, please contact us.
    People looking to be in the club should be passionate about the competitive nature of Esports and should be
    willing to work with others to create teams that show how passionate the students at OSU are about competition
    in video games.

  </p>
  <p>
      If you are a current  student, or will be attending OSU next year, please go to the<a href="/join">join</a>page so we can get to know a little bit about you.
      Feel free to DM BeeMan on the discord if you have any questions or concerns regarding Esports at OSU and thank you for joining!

  </p>




</div>
</div>
