<div class = "about-container">

<h1> About </h1>

<div class="about-text">


 <p> 
Our club was made in Winter of 2019 to grow the esports community at OSU. Oregon state has a large amount of talented competitive gamers, 
and our goal is to bring them together to compete at a high level. We are all passionate about video games and competition and want all 
our members to grow, learn, and enjoy their time spent with the club. 
</p>
<p>
We are always looking for new members to compete. We have teams that span all skill levels, from the top 1% in the region to the average 
player looking to learn and grow. Our current focus is on building this community and expanding our rosters to allow us to compete in all
major esports titles. Potential members should be passionate about the competitive nature of esports and excited to be a part of a team.
</p>
<p>
If you are a current student, or will be attending Oregon State next year, please go to the <a href="/join">Join</a> page so we can learn a little bit about
you. Feel free to message any of the admins on our Discord server if you have any questions or concerns regarding Esports at OSU and
thank you for your interest!
  </p>
  <p>
</div>
</div>
