

<div class = "join-page-container">
  <div class="requirement-container">
    <h1> Requirements </h1>
    <div class ="requirement-text">
      <ul>
      <li> Must be a current or incoming full-time student at OSU  </li>
      <li> Learn more about<a href="https://admissions.oregonstate.edu"> OSU Admissions</a>   </li>
      <li> Recomened  be at least Diamond (League of Legends) or Platinum (Overwatch)  </li>
      </ul>
    </div>
  </div>





  <div class="join-container">
    <div class="join-dialog">

      <div class="join-header">
        <h3>Enter your information</h3>
      </div>

      <div class="join-body">
        <div class="join-input-element">
          <label for="join-name-input">Name:</label>
          <textarea id="join-name-input"></textarea>
        </div>
          <div class="join-input-element">
            <label for="join-email-input">Email:</label>
            <textarea id="join-email-input"></textarea>
          </div>
        <div class="join-input-element">
          <label for="join-year-input">Year:</label>
          <textarea id="join-year-input"></textarea>
        </div>
        <div class="join-input-element">
          <label for="join-game-input">Game:</label>
          <div class="game_response"><input  type="checkbox" data-text="LoL"  value="LoL" autocomplete="off"><label>LoL</label></div>
          <div class="game_response"><input  type="checkbox" data-text="Overwatch"  value="Overwatch" autocomplete="off"><label>Overwatch</label></div>
          <div class="game_response"><input  type="checkbox" data-text="CS:GO"  value="CS:GO" autocomplete="off"><label>CS:GO</label></div>
          <div class="game_response"><input  type="checkbox" data-text="Rocket League"  value="Rocket League" autocomplete="off"><label>Rocket League</label></div>
        </div>
        <div class="join-input-element">
          <label for="join-username-input">Username:</label>
          <textarea id="join-username-input"></textarea>
        </div>
        <h5> For Battle.net username add #</h5>
      </div>

      <div class="join-footer">
        <button type="button" class="join-accept-button">Accept</button>
      </div>

    </div>
  </div>
</div>
