<h1 class="page-title">{{title}}</h1>
<div class="resetPageBtnContainer">
  <button class="resetPageBtn" type="button" name="resetPage">Reset Page</button>
</div>
<main class="peopleContainer">
  {{#each players}}
    {{>peopleCard}}
  {{/each}}
</main>
