<h1 class="page-title">Teams</h1>
  <section class="teamRoster" >
    <div class="teamRoster-teamstuff">
      <img src="http://www.stickpng.com/assets/images/586273b931349e0568ad89df.png" height="50" width="50" alt="Overwatch" class="TeamRoster-logo img-responsive">
    <div class="teamRoster-infoWrapper">
      <div class="teamRoster-info">
      <h2>  <div class="teamRoster-name">OSU Overwatch</h2>
      </div>
  </div>
    <div class="teamRoster-playerList">
      <div class=teamRoster-player>
        <img src="https://vignette.wikia.nocookie.net/overwatch/images/6/69/TankIcon.png/revision/latest?cb=20160625041805" alt="TANK" height="42" width="42">
        <div class="PlayerHandle-playerwrapper">
          <b class="PlayerHandle-handle">PLAYER1
          </b>
          </div>
        </div>
        <div class="teamRoster-player">
            <img src="https://vignette.wikia.nocookie.net/overwatch/images/1/14/OffenseIcon.png/revision/latest?cb=20160625040759" alt="OFFENSE" height="42" width="42">
              <div class="PlayerHandle-playerwrapper">
            <b class="PlayerHandle-handle">PLAYER2
            </b>
          </div>
        </div>
        <div class="teamRoster-player">
              <img src="https://vignette.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" alt="SUPPORT" height="42" width="42">
                <div class="PlayerHandle-playerwrapper">
              <b class="PlayerHandle-handle">PLAYER3
              </b>
          </div>
        </div>
          <div class="teamRoster-player">
              <img src="https://vignette.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" alt="SUPPORT" height="42" width="42">
              <div class="PlayerHandle-playerwrapper">
              <b class="PlayerHandle-handle">PLAYER4
              </b>
            </div>
          </div>
          <div class="teamRoster-player">
              <img src="https://vignette.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" alt="SUPPORT" height="42" width="42">
                <div class="PlayerHandle-playerwrapper">
              <b class="PlayerHandle-handle">PLAYER5
              </b>
            </div>
          </div>
          <div class="teamRoster-player">
              <img src="https://vignette.wikia.nocookie.net/overwatch/images/5/5f/SupportIcon.png/revision/latest?cb=20160625042024" alt="SUPPORT" height="42" width="42">
                <div class="PlayerHandle-playerwrapper">
              <b class="PlayerHandle-handle">PLAYER6
              </b>
            </div>
          </div>
        </div>
      </div>
      </main>
    </section>
