<h1 class="page-title">Teams</h1>
  <section class="teamRoster" >
    <div class="teamRoster-teamstuff"></div>
      <img src="http://www.stickpng.com/assets/images/586273b931349e0568ad89df.png" height="50" width="50" alt="Overwatch" class="TeamRoster-logo img-responsive">
    <div class="teamRoster-infoWrapper">
      <div class="teamRoster-info">
      </div>
      <h2>  <div class="teamRoster-name">OSU Overwatch</div></h2>

    <div class="teamRoster-playerList">
        {{#each rosterPlayer}}
          {{>teamPlayer}}
        {{/each}}
        </div>
      </div>
      </main>
    </section>
