body{
  margin: 0;
  padding: 0;
  font-family: "Open+Sans", Helvetica, sans-serif;
  background-color: #252525;
}
h1{
  text-align: center;
  color: #d73f09;
  display: block;
}

.navbar{
  background-color: #d73f09;
  height: 100px;
  font-size: 19px;
  font-weight: bold;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navlist{
}
.navitem{
  display: inline-block;
  border-bottom: solid #d73f09 2px;
}
.navitem.navlink:hover{
  border-bottom: solid white 2px;
}

a {
  color: white;
  text-decoration: none;
  padding: 12px 8px 12px 8px;
}
.logo img{
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  height: 80px;
  width: 250px;
  display: flex;

}

.peopleContainer{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

h1.page-title{
  text-align: center;
  color: #d73f09;
  display: block;
}

.peopleCard{
  flex: 2 32%;
  margin: 10px;
  border: solid white 2px;
  padding 10px;
  background-color: #a1a8b5;
}
